:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --font-lighter: 200;
    --font--medium: 400;
    --font-bold: 600;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

/* Skin */

.container{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: auto;
    padding: 20px;
}

h1, h2{
    font-size: 2.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width:1024px) {
    h1, h2{
        font-size: 2.1rem;
    }

    h3{
        font-size: 1.6rem;
    }
}

h1{
    font-weight: var(--font-lighter);
    margin-bottom: 7px;
}

h2, h3{
    font-weight: var(--font-bold);
}

h3{
    font-size: 1.8rem;
    margin-bottom: 0;
    margin-top: 0;
}

h1, .intro-content, .message{
    color: var(--very-dark-blue);
}

/* Intro */

@media screen and (min-width:1024px){
    .intro{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.intro-content{
    width: 300px;
    max-width: 100%;
    text-align: center;
    font-weight: var(--font-medium);
}

@media screen and (min-width:1024px) {
    .intro-content{
        width: 48%;
    }

    .intro-content p{
        font-size: 1.2rem;
    }
}

/* Info */

.info{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1024px) {
    .info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 20px;
        grid-template-areas: "supervisor team-builder calculator" 
                            "supervisor karma calculator";
    }

    .info--supervisor{
        grid-area: supervisor;
        align-self: center;
    }
    
    .info--team-builder{
        grid-area: team-builder;
    }
    
    .info--karma{
        grid-area: karma;
    }
    
    .info--calculator{
        grid-area: calculator;
        align-self: center;
    }
}

.info-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.message p{
    margin-top: 7px;
}

@media screen and (min-width:1024px) {
    .message p {
        font-size: 1.2rem;
    }
}

.image{
    width: 40px;
    align-self: flex-end;
    margin-top: 40px;
}

.image img {
    width: 100%;
}

.info--supervisor{
    border-top: 3px solid var(--blue);
}

.info--team-builder{
    border-top: 3px solid var(--red);
}

.info--karma{
    border-top: 3px solid var(--orange);
}

.info--calculator{
    border-top: 3px solid var(--blue);
}