:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --font-lighter: 200;
    --font--medium: 400;
    --font-bold: 600;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

/* Skin */

.container{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: auto;
    padding: 20px;
}

h1, h2{
    font-size: 2.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

h1{
    font-weight: var(--font-lighter);
    margin-bottom: 7px;
}

h2, h3{
    font-weight: var(--font-bold);
}

h3{
    font-size: 1.8rem;
    margin-bottom: 0;
    margin-top: 0;
}

h1, .intro-content, .message{
    color: var(--very-dark-blue);
}

/* Intro */

.intro-content{
    width: 300px;
    max-width: 100%;
    text-align: center;
    font-weight: var(--font-medium);
}

/* Info */

.info{
    display: flex;
    flex-direction: column;
}

.info-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.message p{
    margin-top: 7px;
}

.image{
    width: 40px;
    align-self: flex-end;
    margin-top: 40px;
}

.image img {
    width: 100%;
}

.info--supervisor{
    border-top: 3px solid var(--blue);
}

.info--supervisor{
    border-top: 3px solid var(--blue);
}